// --------------------------------------------
// This file contains main grid styles
// --------------------------------------------

.App {
	max-width: 1200px;
	margin: 0 auto;
}

.main-wrapper {
	margin: 0 auto;
	display: grid;
	// grid-template-columns: 20px 1fr 20px;
	position: relative;
	// overflow: hidden;
}

.beer-list {
	scroll-behavior: smooth;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
	display: grid;
	gap: 2rem;
	grid-template-columns: 10px;
	grid-auto-flow: column;
	// grid-auto-columns: calc(50% - var(--gutter) * 2);
	grid-auto-columns: 60vw;
}

@media (min-width: 800px) {
	.beer-list {
		grid-auto-columns: 20vw;
	}
}

.beer-list > * {
	scroll-snap-align: center;
}

.beer-list:before,
.beer-list:after {
	content: "";
	width: 10px;
}

// .beer-list {
// 	scroll-behavior: smooth;
// 	scroll-snap-type: x proximity;
// 	display: flex;
// 	overflow-x: auto;
// 	z-index: 1;
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// }

.page-title {
	grid-column: 1/-1;
}

.product-page-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	// grid-template-columns: 1fr 1fr;
	place-items: center;
	padding: 2rem;
}

.product-main-description {
	grid-column: 1 / -1;
}

.promo-section {
	height: 400px;
	background: lightcoral;
}

.stats-section {
	height: 400px;
	background: lightseagreen;
}
