// --------------------------------------------
// This file contains main grid styles
// --------------------------------------------

.App {
	max-width: 1200px;
	margin: 0 auto;
}

.main-wrapper {
	margin: 0 auto;
	display: grid;
	position: relative;
}

.cloud-top {
	position: absolute;
	width: 150vw;
	place-self: center;
	align-self: flex-start;
	opacity: 1;
	transform: translateY(-300px);
	z-index: 2;
}

.page-title {
	grid-column: 1/-1;
}

.beer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	padding: 2rem;
	z-index: 2;
}

.product-page-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	// grid-template-columns: 1fr 1fr;
	place-items: center;
	padding: 2rem;
}

.product-main-description {
	grid-column: 1 / -1;
}

.promo-section {
	height: 400px;
	background: lightcoral;
}

.stats-section {
	height: 400px;
	background: lightseagreen;
}
