// --------------------------------------------
// This file contains navigation styles
// --------------------------------------------

nav ul {
	display: flex;
	justify-content: flex-end;
}

nav li {
	padding: var(--padding);
	list-style: none;
}

nav a {
	letter-spacing: var(--letter-spacing);
	z-index: 3;
}
