// --------------------------------------------
// This file contains button styles
// --------------------------------------------

button {
	cursor: pointer;
	color: white;
	font-family: var(--primary-font);
	text-transform: uppercase;
	background: var(--color-5-normal);
	padding: var(--padding-button);
	border-radius: var(--border-radius);
	border: 0px;
	margin: var(--margin-button);
	width: 100%;
}
