// --------------------------------------------
// This file contains card styles
// --------------------------------------------

@import "sass/partials/abstracts/mixins";

.single-beer {
	display: grid;
	// grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(2fr, 1fr));
	.single-beer-image-container {
		background-color: royalblue;
		padding: 1rem;
		grid-column: 1 / -1;
		grid-row: 1 / 4;
		z-index: -1;
		// clip-path: polygon(
		// 	101.53% 259px,
		// 	64.84% 79.12%,
		// 	24.1% 76.82%,
		// 	9.91% 91.22%,
		// 	-7px 96.02%,
		// 	-1.7% -0.86%,
		// 	9.2% -0.58%,
		// 	15.78% -0.25%,
		// 	24.18% -0.1%,
		// 	28.72% -2.17%,
		// 	35.01% -1.9%,
		// 	42.69% -2.32%,
		// 	51.61% -0.81%,
		// 	59.71% -0.76%,
		// 	72.88% -0.33%,
		// 	101.73% -1.03%
		// );
	}
	.single-beer-image {
		@include dropShadow(var(--color-2-normal));
	}
	.single-beer-info {
		background-color: white;
		padding: 1rem;
		gap: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		grid-column: 1 / -1;
		grid-row: 4 / 8;
	}
	.single-beer-category {
		color: var(--color-2-normal);
	}
	.single-beer-counter {
		background: pink;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
