// --------------------------------------------
// This file contains card styles
// --------------------------------------------

@import "sass/partials/abstracts/mixins";

.single-beer {
	display: grid;
	// grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(2fr, 1fr));
	position: relative;
	.single-beer-image-container {
		background-color: var(--color-4-normal);
		padding: var(--padding);
		border-radius: var(--border-radius);
		grid-column: 1 / -1;
		grid-row: 1 / 4;
		// clip-path: polygon(
		// 	101.53% 323px,
		// 	99.07% 94.59%,
		// 	92.69% 92.25%,
		// 	84.16% 95.5%,
		// 	74.59% 95.62%,
		// 	61.93% 94.03%,
		// 	54.12% 91.04%,
		// 	40.37% 91.96%,
		// 	31.08% 95.57%,
		// 	21.84% 93.55%,
		// 	14.72% 94.3%,
		// 	8.9% 93.09%,
		// 	2.94% 93.87%,
		// 	-3px 93.9%,
		// 	-1.7% -0.86%,
		// 	9.2% -0.58%,
		// 	15.78% -0.25%,
		// 	24.18% -0.1%,
		// 	28.72% -2.17%,
		// 	35.01% -1.9%,
		// 	46.71% -1.26%,
		// 	51.61% -0.81%,
		// 	59.71% -0.76%,
		// 	72.88% -0.33%,
		// 	101.73% -1.03%
		// );
	}
	.single-beer-image {
		@include dropShadow(var(--color-2-normal));
	}
	.single-beer-info {
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		grid-column: 1 / -1;
		grid-row: 4 / 8;
		border-radius: var(--border-radius);
		z-index: 1;
	}
	.single-beer-category {
		color: var(--color-2-normal);
	}
	.single-beer-counter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: var(--border);
		border-radius: var(--border-radius);
		padding: 0.5rem;
		margin: 1rem 0;
	}
	.single-beer-cloud {
		position: absolute;
		bottom: 180px;
		transform: scale(1.5);
		z-index: 1;
	}
}
