// --------------------------------------------
// This file contains form styles
// --------------------------------------------

form {
	background: yellow;
	width: 500px;
}

input {
	padding: 1rem;
	width: 100%;
	border: var(--border);
	border-radius: var(--border-radius);
	&:valid {
		border: 10px solid green;
	}
	&:invalid {
		border: 10px solid red;
	}
}
