// --------------------------------------------
// This file contains card styles
// --------------------------------------------

@import "sass/partials/abstracts/mixins";

.payment-wrapper {
	@include flexCenter(center, column);
}

.carPayment {
	width: 100%;
	justify-content: center;
}

.optionsForPayment {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 0 1rem;
	width: 60%;
}

label.mobpay {
	grid-area: 1/1;

	img {
		width: 100%;
	}
}

[type="radio"]:checked + label {
	filter: grayscale(0);
}

[type="radio"] {
	visibility: hidden;
}

[type="radio"] + label {
	width: 100%;
	object-fit: contain;
	border-radius: var(--border-radius);
	border: var(--border);
	border-color: var(--color-2-normal);
	transition: filter 0.3s linear;
	@include flexCenter(center, row);
	filter: grayscale(1);

	height: 80px;
}

label.card {
	grid-area: 1/2;

	img {
		width: 20%;
	}
}

// MObile pay

.mobilePay {
	@include flexCenter(center, column);
	background: #fff;
	box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
		/* The second layer */ 0 10px 0 -5px #eee,
		/* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
		/* The third layer */ 0 20px 0 -10px #eee,
		/* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	/* Padding for demo purposes */
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 1.5rem;
	opacity: 0;
	transform: translateY(50px);
	animation: showPayment 0.5s linear forwards 1;
	h2 {
		text-align: center;
		width: 85vw;
		border-bottom: var(--border);
		margin-bottom: 2rem;
		padding: 1rem;
	}

	img {
		height: 100px;
		background: #4f4dcb;
		width: 100px;
		border-radius: var(--border-radius);
		margin-bottom: 2rem;
	}
	h4 {
		margin-bottom: 1rem;
	}
}

@keyframes showPayment {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#PaymentForm {
	animation: showPayment 0.5s linear forwards 1;
	opacity: 0;
	transform: translateY(50px);
}

.cardForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	input {
		margin: 0.5rem 0;
	}

	label {
		display: none;
		background-color: var(--color-5-normal);
		width: 100%;
		color: white;
		padding: 0.5rem;
		border-radius: 0 0 15px 15px;
		transform: translateY(-25px);
		animation: showerror 0.3s ease 1 forwards;
	}

	.yearcvc {
		display: flex;
		input {
			margin: 0.5rem 0.5rem 0 0;
		}
		.cvc {
			margin-right: 0;
		}
	}
}

@keyframes showerror {
	0% {
		transform: translateY(-30px);
	}
}

[data-show="show"] {
	display: block;
}

[data-show="hide"] {
	display: none;
}
